<app-navbar-two></app-navbar-two>

<div class="about-title" style="background: url('./assets/img/events/background.jpeg'); background-size: cover">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="title-events text-center">
                <h1 class="title-events">Pavimento Fertile Jam Session</h1>
            </div>
        </div>
    </div>
</div>

<div class="theory-section theory-style-two">
    <div class="container">
        <div class="row theory-area">
            <div class="col-lg-7">
                <div class="theory-text">
                    <p class="pb-0 mb-0" style="font-size: 1.10rem;"><b><span
                                style="font-size:1.30rem; display:inline-block">Pavimento Fertile events</span> </b> are
                        born from the need to offer a creative space, where you can build, share and enjoy artistic experiences.
                        Our <b>“Jam Session”</b> is a moment of encounter and exchange between Dancers, Musicians, DJs and Street Artists.
                        <br/><br/>Since 2010 we have realized over 20 editions in different locations: dance centers, discotheques, public squares, clubs.
                        Over the years the event has grown to host internationally recognized dancers and music artists from Europe and the United States, attracting an ever-increasing number of enthusiasts and participants.


                    </p>
                </div>
            </div>

            <div class="theory-img">
                <img src="assets/img/events/JAM.jpg" alt="theory image">
            </div>
        </div>
    </div>
</div>

<div class="video-style-two video-style-three">
    <div class="container-fluid">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="video-text text-center">
                    <a href="https://www.youtube.com/watch?v=yGxD2rCt_2I" class="popup-vimeo"><i
                            class="bx bx-play"></i></a>
                    <p>Watch Video</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog-section pt-100 pb-70" style="background-color: #bab5b8;">
    <div class="container">
        <div class="about-text">
            <div class="section-title text-center">
                <span style="font-size: 25px;">Next Events</span>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-3 col-md-5">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details"><img src="assets/img/calendar/check-the-style.jpg"
                                alt="blog image"></a>
                        <div class="blog-date">
                            <span>12 May</span>
                        </div>
                    </div>

                    <div class="blog-text">
                        <h3>Check The Style</h3>
                        <p>Pre-party Pavimento Fertile</p>
                        <div class="post-info row">
                            <div class="col-6">
                                <ul>
                                    <li><a target="_blank" href="https://fb.me/e/379CWQ0Eg?ti=wa"><i
                                                class="flaticon-facebook"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-6">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
