<div class="row blog-section d-flex justify-content-center align-items-center"
    style="margin-left:5%; margin-right: 5%;">
    <div class="col-lg-3 col-md-5">
        <div class="blog-card">
            <div class="blog-img">
                <a routerLink="/record-label"><img src="assets/img/about/cover.jpg" alt="blog image"></a>
                <div class="blog-date">
                    <span>17 March</span>
                </div>
            </div>

            <div class="blog-text">
                <h3>"Made Of Golden Light" single release</h3>

                <div class="post-info row">
                    <div class="col-6">
                        <a routerLink="/record-label" class="blog-btn">More Info<i
                                class="flaticon-right-chevron"></i></a>
                    </div>
                    <div class="col-6"></div>
                </div>
            </div>
        </div>
    </div>


    <!--<div class="col-lg-3 col-md-5">
        <div class="blog-card">
            <div class="blog-img">
                <a routerLink="/blog-details"><img src="assets/img/about/cover.jpg" alt="blog image"></a>
                <div class="blog-date">
                    <span>31 March</span>
                </div>
            </div>

            <div class="blog-text">
                <h3>Release Single "Heart To Mend"</h3>
                <div class="post-info row">
                    <div class="col-6">
                        <a routerLink="/record-label" class="blog-btn">More Info<i class="flaticon-right-chevron"></i></a>
                    </div>
                    <div class="col-6"></div>
                </div>
            </div>
        </div>
    </div>
-->
    <div class="col-lg-3 col-md-5">
        <div class="blog-card">
            <div class="blog-img">
                <a routerLink="/record-label"><img src="assets/img/about/vinyl.jpg" alt="blog image"></a>
                <div class="blog-date">
                    <span>14 April</span>
                </div>
            </div>

            <div class="blog-text">
                <h3>Dancing Around Fire</h3>
                <p>Release album</p>
                <div class="post-info row">
                    <div class="col-6">
                        <a routerLink="/record-label" class="blog-btn">More Info<i
                                class="flaticon-right-chevron"></i></a>
                    </div>
                    <div class="col-6"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-5">
        <div class="blog-card">
            <div class="blog-img">
                <img
                    src="assets/img/about/vinyl.jpg" alt="blog image">
                <div class="blog-date">
                    <span>23 April</span>
                </div>
            </div>

            <div class="blog-text" style="padding-bottom:42px">
                <h3>Dancing Around Fire Release Party </h3>
                <p style="font-size:15px">Gold Line - Los Angeles</p>
                <div class="post-info row">
                    <div class="col-6">

                    </div>
                    <div class="col-6">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-5">
        <div class="blog-card">
            <div class="blog-img">
                <a target="_blank" href="assets/img/calendar/behind-the-groove.jpeg">
                <img
                    src="assets/img/calendar/behind-the-groove-preview.jpeg" alt="blog image">
                </a>
                <div class="blog-date">
                    <span>27 April</span>
                </div>
            </div>

            <div class="blog-text" style="padding-bottom:16px">
                <h3 style="margin-bottom:5px ">Dancing Around Fire Release Party </h3>
                <p style="font-size:12px">Behind The Groove at Nuyorican Poets Cafe - New York City</p>

            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-5">
        <div class="blog-card">
            <div class="blog-img">
                <a target="_blank" href="https://fb.me/e/379CWQ0Eg?ti=wa"><img
                        src="assets/img/calendar/check-the-style.jpg" alt="blog image"></a>
                <div class="blog-date">
                    <span>12 May</span>
                </div>
            </div>

            <div class="blog-text">
                <h3>Check The Style</h3>
                <p>Pre-party Pavimento Fertile</p>
                <div class="post-info row">
                    <div class="col-6">
                        <ul>
                            <li><a target="_blank" href="https://fb.me/e/379CWQ0Eg?ti=wa"><i
                                        class="flaticon-facebook"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-6">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-5">
        <div class="blog-card">
            <div class="blog-img">
                <a target="_blank" href="https://www.instagram.com/house_diction/"><img
                    src="assets/img/calendar/house-diction.jpeg" alt="blog image"></a>
                <div class="blog-date">
                    <span>20 May</span>
                </div>
            </div>

            <div class="blog-text" style="padding-bottom:41px">
                <h3>Dancing Around Fire Release Party </h3>
                <p style="font-size:15px">House Diction - Firenze</p>
                <div class="post-info row">
                    <div class="col-6">
                            <ul>
                                <li><a target="_blank" href="https://www.instagram.com/house_diction/"><i
                                            class="flaticon-instagram"></i></a></li>
                            </ul>
                    </div>
                    <div class="col-6">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-3 col-md-5">
        <div class="blog-card">
            <div class="blog-img">
                <a target="_blank" href="https://www.ijshaamanka.eu/alterart/"><img
                        src="assets/img/live-show/flyer_event.jpg" alt="blog image"></a>
                <div class="blog-date">
                    <span>09 July</span>
                </div>
            </div>

            <div class="blog-text" style="padding-bottom:33px">
                <h3>COSMIC HEALING MANTRAS </h3>
                <p style="font-size:15px">ALTER-ART FESTIVAL Pergola</p>
                <div class="post-info row">
                    <div class="col-6">
                        <a target="_blank" href="https://www.ijshaamanka.eu/alterart/" class="blog-btn">More Info<i
                                class="flaticon-right-chevron"></i></a>
                    </div>
                    <div class="col-6">

                    </div>
                </div>
            </div>
        </div>
    </div>




</div>
