<app-navbar-two></app-navbar-two>

<div class="about-title">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="row">
                <div class="col-md-5 d-none d-sm-block text-center">
                    <div class="fluid-animation-logo">
                        <img src="assets/img/about/1.jpg" style="width: 35%; height: 3%;" alt="about image">
                    </div>
                </div>
                <div class="col-md-5 col-xs-12 title-text text-left" style="padding-left:20px; margin-bottom:10px">
                    <div class=" block-animation-wreps" style="margin-top:5%;">
                        <h3 style="color:white; text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.736);"><b>Pavimento Fertile</b> is an artistic collective that brings together
                            <b>dancers</b>, <b>DJs</b>, <b>producers</b> and <b>street artists</b>. </h3>
                        <h5 style="color:white; text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.736);">
                            We focus on events, shows and music productions, dance courses and workshops, DJ sets.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-section pt-30 pb-30">
    <div class="container">
        <!--<div class="row">
            <div class="section-title text-center">
                <span style="font-size: 25px;">About Us</span>
            </div>
        </div>-->
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6 col-sm-12">
                <div class="container-fluid">
                    <ngb-carousel interval="3000">
                        <ng-template ngbSlide *ngFor="let image of images">
                            <div class="picsum-img-wrapper">
                                <img [src]="image" alt="Carousel Photos" class="d-block" style="width:600; height:400px;object-fit: cover;">
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <h4 class="title-description">OUR VISION</h4>
                <h6 style="color:#444444; ">Music and
                    Dance are creative tools dedicated to personal expression and to the sharing of values and
                    emotions.
                    In a world where the focus of these disciplines is increasingly directed towards
                    competition, the vision of <b>Pavimento Fertile</b> remains focused on artistic and
                    performative freedom.</h6>
            </div>
        </div>
    </div>
</section>
<!--
<section class="about-section pb-30">
    <div class="container">
        <div class="about-area">
            <div class="row align-items-center">
                <div class="section-title text-center mb-0">
                    <span>About Us</span>
                    <!--<h2 class="mb-0">Latest photos...</h2>-->
             <!--   </div>
            </div>

            <div class="row">
                <div class="container-fluid">
                    <ngb-carousel interval="3000">
                        <ng-template ngbSlide *ngFor="let image of images">
                            <div class="picsum-img-wrapper">
                                <img [src]="image" alt="Carousel Photos">
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<section class="blog-section pt-30 pb-30" style="background-color: #bab5b8;">
    <div class="container">
        <div class="about-text">
            <div class="section-title text-center">
                <span style="font-size: 25px;">Upcoming Events</span>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <app-calendar-card></app-calendar-card>
            <!--<div class="col-lg-3 col-md-5">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details"><img src="assets/img/about/cover.jpg" alt="blog image"></a>
                        <div class="blog-date">
                            <span>15 March</span>
                        </div>
                    </div>

                    <div class="blog-text">
                        <h3>Dancing Around Fire</h3>
                        <p>Add description</p>
                        <div class="post-info">
                            <a routerLink="/record-label" class="blog-btn">More Info<i class="flaticon-right-chevron"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-5">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details"><img src="assets/img/about/vinyl.jpg" alt="blog image"></a>
                        <div class="blog-date">
                            <span>14 April</span>
                        </div>
                    </div>

                    <div class="blog-text">
                        <h3>Dancing Around Fire</h3>
                        <p>Release album</p>
                        <div class="post-info">
                            <a routerLink="/record-label" class="blog-btn">More Info<i class="flaticon-right-chevron"></i></a>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>

    </div>
</section>

