<app-navbar-two></app-navbar-two>

<div class="about-title" style="background: url('./assets/img/live-show/background.jpeg'); background-size: cover">
    <div class="d-table">
        <div class="d-table-cell pt-30">
            <div class="title-events text-center">
                <h1 class="title-events">Live Show</h1>
            </div>
        </div>
    </div>
</div>

<div class="liveshow-section liveshow-style-two theory-style-two" style="padding-top:70px">
    <div class="container">
        <div class="row liveshow-area">
            <div class="row d-flex justify-content-center">

                <div class="col-md-4 col-xs-10 justify-contenct-center text-center align-self-center pt-30">
                    <img src="assets/img/live-show/flyer.jpg" class="pl-30" style="width: 100%;">
                </div>
                <div class="col-md-6 col-xs-12 align-self-center">
                    <div class="liveshow-text text-left">
                        <h4 class="mb-0 mt-2">Pavimento Fertile Presents:</h4>
                        <h2 class="mb-0 pb-0" style="font-size:41px"><b>COSMIC HEALING MANTRAS</b></h2>
                        <i [innerHTML]="'live-show.description1' | translate"></i>
                        <p [innerHtml]="'live-show.description2' | translate">

                        </p>
                    </div>
                </div>
            </div>


            <!--            <div class="liveshow-img">
                    <img src="assets/img/liveshow-img.png" alt="liveshow image">
                </div>-->
        </div>
    </div>
</div>

<div class="live-show-video-style video-style-three">
    <div class="container-fluid">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="video-text text-center">
                    <a href="https://www.youtube.com/watch?v=4j6n5M3OKg0" class="popup-vimeo"><i
                            class="bx bx-play"></i></a>
                    <p>Comsic Healing Mantras: Video Promo</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-team-card></app-team-card>
<!--
<section class="team-section" style="padding-top:50px">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/img/team/photo-frigo.jpeg" alt="team member">

                        <div class="team-text">
                            <div class="team-social">
                                <ul>
                                    <li><a href="https://www.instagram.com/frigofrigofrigo/" target="_blank"><i class="flaticon-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h3>Paolo Montesi</h3>
                            <p>aka Frigo</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/img/team/photo-collo.jpeg" alt="team member">

                        <div class="team-text">
                            <div class="team-social">
                                <ul>
                                    <li><a href="https://www.instagram.com/collo_orun/" target="_blank"><i class="flaticon-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h3>Davide Del Gaia</h3>
                            <p>aka Collo</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/img/team/photo-rob.jpeg" alt="team member">

                        <div class="team-text">
                            <div class="team-social">
                                <ul>
                                    <li><a href="https://www.instagram.com/rob._.mystic/" target="_blank"><i class="flaticon-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h3>Roberto Del Gaia</h3>
                            <p>aka Rob Mystic</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/img/team/photo-buzz.jpeg" alt="team member">

                        <div class="team-text">
                            <div class="team-social">
                                <ul>
                                    <li><a href="https://www.instagram.com/renato_bboy_buzz/" target="_blank"><i class="flaticon-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h3>Renato Scapecchi</h3>
                            <p>aka Buzz</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<section class="about-section" style="padding-bottom:60px">
    <div class="container">
        <div class="row">
            <div class="container-fluid">
                <ngb-carousel interval="3000">
                    <ng-template ngbSlide *ngFor="let image of images">
                        <div class="picsum-img-wrapper">
                            <img [src]="image" alt="Carousel Photos" class="d-block" style="width:600; height:400px;object-fit: cover;">
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</section>

<section class="blog-section pt-30 pb-30" style="background-color: #bab5b8;">
    <div class="container">
        <div class="about-text">
            <div class="section-title text-center">
                <span style="font-size: 25px;"[innerHTML]="'calendar.upcoming-event' | translate"></span>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center" style="margin-left:5%; margin-right: 5%;">
            <div class="col-lg-3 col-md-5">
                <div class="blog-card">
                    <div class="blog-img">
                        <a target="_blank" href="https://www.ijshaamanka.eu/alterart/"><img src="assets/img/live-show/flyer_event.jpg"
                                alt="blog image"></a>
                        <div class="blog-date">
                            <span>09 July</span>
                        </div>
                    </div>

                    <div class="blog-text" style="padding-bottom:33px">
                        <h3>COSMIC HEALING MANTRAS </h3>
                        <p style="font-size:15px">ALTER-ART FESTIVAL Pergola</p>
                        <div class="post-info row">
                            <div class="col-6">
                                <a target="_blank" href="https://www.ijshaamanka.eu/alterart/" class="blog-btn">More Info<i class="flaticon-right-chevron"></i></a>
                            </div>
                            <div class="col-6">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
