<app-navbar-two></app-navbar-two>

<div class="about-title" style="background: url('./assets/img/live-show/background.jpeg'); background-size: cover">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="title-events text-center">
                <h1 class="title-events">Live Show</h1>
            </div>
        </div>
    </div>
</div>

<div class="liveshow-section liveshow-style-two" style="padding-top:70px">
    <div class="container">
        <div class="row liveshow-area">
            <div class="row d-flex justify-content-center">
                <div class="col-4 align-self-center">
                    <img src="assets/img/live-show/flyer.jpg" style="width: 100%;">
                </div>
                <div class="col-6 align-self-center">
                    <div class="liveshow-text text-left">
                        <h4 class="mb-0 mt-2">Pavimento Fertile Presents:</h4>
                        <h2 class="mb-0 pb-0" style="font-size:41px"><b>COSMIC HEALING MANTRAS</b></h2>
                        <p><i>Hip Hop Dance, Live Painting, Musical Improvisation Show.</i>
                            <br /><br />
                            <b>Concept:</b><br />
                            Music, Dance and Painting are our Mantras.
                            The Practice of Hip Hop arts becomes a daily ritual to find well-being, care, refuge.
                            The repetition of sounds, movements and techniques becomes a meditative practice,
                            a process of research towards inner depth and at the same time towards cosmic immensity.
                            A dimension made of energy and emotions.
                            <br /><br />
                            The result of these artistic explorations gives shape to a show that intersects
                            choreographies
                            and solos of the various Hip Hop dances (Breaking / Locking / Hip Hop / House), Live
                            Painting
                            performances and original music produced with drum machines, samplers and synths overlapped
                            with
                            quotes from vinyl records.
                            <br /><br />
                            <b>With:</b>
                            <br />
                            Paolo "<b>Frigo</b>" Montesi<br />
                            Davide "<b>Collo</b>" Del Gaia<br />
                            Roberto "<b>Rob Mystic</b>" Del Gaia<br />
                            Renato "<b>Buzz</b>" Scapecchi<br />
                            <br />
                            <b>Duration:</b> 30 minutes.
                        </p>
                    </div>
                </div>
            </div>


            <!--            <div class="liveshow-img">
                    <img src="assets/img/liveshow-img.png" alt="liveshow image">
                </div>-->
        </div>
    </div>
</div>

<div class="live-show-video-style video-style-three">
    <div class="container-fluid">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="video-text text-center">
                    <a href="https://www.youtube.com/watch?v=4j6n5M3OKg0" class="popup-vimeo"><i
                            class="bx bx-play"></i></a>
                    <p>Comsic Healing Mantras: Video Promo</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="team-section" style="padding-top:50px">
    <div class="container">
       <!-- <div class="section-title text-center">
            <span style="font-size: 25px;">Members</span>
        </div>
        -->
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/img/team/photo-frigo.jpeg" alt="team member">

                        <div class="team-text">
                            <div class="team-social">
                                <ul>
                                    <li><a href="https://www.instagram.com/frigofrigofrigo/" target="_blank"><i class="flaticon-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h3>Paolo Montesi</h3>
                            <p>aka Frigo</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/img/team/photo-collo.jpeg" alt="team member">

                        <div class="team-text">
                            <div class="team-social">
                                <ul>
                                    <li><a href="https://www.instagram.com/collo_orun/" target="_blank"><i class="flaticon-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h3>Davide Del Gaia</h3>
                            <p>aka Collo</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/img/team/photo-rob.jpeg" alt="team member">

                        <div class="team-text">
                            <div class="team-social">
                                <ul>
                                    <li><a href="https://www.instagram.com/rob._.mystic/" target="_blank"><i class="flaticon-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h3>Roberto Del Gaia</h3>
                            <p>aka Rob Mystic</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/img/team/photo-buzz.jpeg" alt="team member">

                        <div class="team-text">
                            <div class="team-social">
                                <ul>
                                    <li><a href="https://www.instagram.com/renato_bboy_buzz/" target="_blank"><i class="flaticon-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h3>Renato Scapecchi</h3>
                            <p>aka Buzz</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-section" style="padding-top:20px">
    <div class="container">
        <div class="row">
            <div class="container-fluid">
                <ngb-carousel interval="3000">
                    <ng-template ngbSlide *ngFor="let image of images">
                        <div class="picsum-img-wrapper">
                            <img [src]="image" alt="Carousel Photos">
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</section>
