<div class="navbar-area navbar-style-two">
    <div class="mobile-nav">

        <a routerLink="/" class="logo">
            <img src="assets/img/logo.png" style="height: 40%; width: 40%;" alt="logo">
        </a>
         <select class="select-lang" #selectedLangMobile (change)="switchLang(selectedLangMobile.value)" style="padding: 5px;border-radius: 9px;">
                    <option *ngFor="let language of translate.getLangs()" [value]="language"
                        [selected]="language === translate.currentLang">
                        {{language}}

                    </option>
                </select>

    </div>

    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/">
                    <img src="assets/img/logo.png" style="height: 20%; width: 20%;" alt="logo">
                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">

                    <ul class="navbar-nav m-auto" style="margin-left: 7% !important">
                        <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">HOME</a></li>
                        <li class="nav-item"><a routerLink="/jam-session" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">DANCE AND MUSIC FESTIVAL</a></li>
                        <li class="nav-item"><a routerLink="/record-label" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">RECORD LABEL</a></li>
                        <li class="nav-item"><a routerLink="/live-show" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">LIVE SHOW</a></li>
                       <!-- <li class="nav-item"><a routerLink="/merch" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Merch</a></li>-->
                       <!--<li class="nav-item"><a routerLink="/team" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Team</a></li>-->
                       <!--<li class="nav-item"><a routerLink="/calendar" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">CALENDAR</a></li>-->
                        <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">CONTACT</a></li>
                    </ul>


                </div>

                <select class="select-lang" #selectedLang (change)="switchLang(selectedLang.value)" style="padding: 5px;border-radius: 9px;">
                    <option *ngFor="let language of translate.getLangs()" [value]="language"
                        [selected]="language === translate.currentLang">
                        {{language}}

                    </option>
                </select>

            </nav>
        </div>
    </div>
</div>
