ngb-carousel {
    width: fit-content;
    height: fit-content;
    margin: 0;
}
.team-text {
    padding: 25px !important;
    bottom: -50px !important;
}

a:link {
    color: orange !important;
  }
